[Unit]
Description=Smack
DefaultDependencies=no
After=smack.mount
Requires=smack.mount
After=basic.target

[Service]
ExecStart=/usr/bin/smackctl apply
ExecStop=/usr/bin/smackctl clear
RemainAfterExit=yes
